<!-- Loads the path to the static files-->
{% extends "base.html" %}

{% block content %}
<h1>CPET Calculation</h1>
<p>Cardiopulmonary exercise testing (CPET) is a functional assessment of cardiopulmonary reserve. It has
been used in the assessment of elite athletes and for the diagnosis of dyspnoea for which it is now
recognised as the gold standard. CPET is becoming routine in the preoperative assessment of patients
undergoing major surgical procedures. The results of CPET can help to assess an individual’s risk of
perioperative morbidity and mortality and plan their postoperative care including critical care bed
allocation. </p>

{% endblock %}

