<!-- Loads the path to the static files-->
{% extends "base.html" %}

{% block content %}
<h1>Nicolas R. Smoll</h1>
<p>Medical Doctor, Clinical Epidemiologist and Data Scientist </p>

<h2>About me</h2>

<div class="entry">
    <p>I am a PhD research fellow at the University of Melbourne, School of Population and Global Health.</p>
    <p>My research interests include:</p>

<ul>
    <li>Predictive Analytics</li>
    <li>Generalized Linear Modelling</li>
    <li>Survival Analyis</li>
    <li>Machine Learning</li>
    <li>Neural Networks</li>
    <li>Diagnostic Evaluations</li>
    <li>Economic Analyses</li>
    <li>Outcomes Measurement</li>
    <li>Pain</li>
    <li>Population Health</li>
    <li>Brain tumors</li>
    <li>Oncology</li>
    <li>Radiation Epidemiology</li>
    <li>Data Mining</li>
    <li>Natural Language Processing</li>
</ul>

<p>I like math socks, videogames, raclette, kitesurfing and Star Trek (Next Generation)</p>

  </div>

{% endblock %}

