<!-- Loads the path to the static files-->
{% extends "base.html" %}

{% block content %}
<h1>Nicolas R. Smoll</h1>
<p>Medical Doctor, Clinical Epidemiologist and Data Scientist </p>

<h2>Publication List</h2>

<div class="entry">


  <ul>

    <li>
      Smoll, Nicolas Roydon;
      <em>Variations of the piriformis and sciatic nerve with clinical consequence: a review</em>,
        2010, Clinical Anatomy, Volume 23, Issue 1, Pages 8-17
        <a href='/static/publications/SMOLL_2010_Variations_of_the_piriformis.pdf'>PDF</a>
    </li>

    <li>
      Smoll, Nicolas Roydon;
      <em>Relative survival of childhood and adult medulloblastomas and primitive neuroectodermal tumors (PNETs)</em>,
        2012, Cancer, Volume 118, Issue 5, Pages 1313-1322
        <a href='/static/publications/SMOLL2012RelativesurvivalofchildhoodadolescentandadultmedulloblastomasandPNETs.pdf'>PDF</a>
    </li>

    <li>
      Smoll, Nicolas R; Gautschi, Oliver P; Schatlo, Bawarjan; Schaller, Karl; Weber, Damien C;
      <em>Relative survival of patients with supratentorial low-grade gliomas</em>,
        2012, Neuro-oncology, Volume 14, Issue 8, Pages 1062-1069
        <a href='/static/publications/SMOLL_2012_Relative_Survival_of_Patients_with_supratentorial_low-grade_gliomas.pdf'>PDF</a>
    </li>

  </ul>


  </div>

{% endblock %}





































